<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
>
<div th:replace="admin/header :: header"> </div>
<body>
<div th:replace="admin/header :: navbar"></div>
<br /> <br />
<div class="container">
    <div class="row col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Create Post </h2>
            </div>
            <div class="card-body">
                <form role="form" action="{/admin/posts}" th:object="${post}">
                <div class="mb-3">
                    <lable class="form-label"> Title</lable>
                    <input
                            type="text"
                            class="form-control"
                            id="title"
                            placeholder="Enter Title here."
                            th:field="*{title}"
                    />
                    <div class="mb-3">
                        <lable class="form-label">Short Description</lable>
                        <textarea
                            class="form-control"
                            id="shortDescription"
                            placeholder="Enter ShortDescription"
                            rows="3"
                            name="shortDescription"
                            th:field="*{shortDescription}"
                        >
                        </textarea>

                        <div class="mb-3">
                            <lable class="form-label">Content</lable>
                            <textarea
                                    class="form-control"
                                    id="content"
                                    placeholder="Enter Post Content"
                                    rows="12"
                                    name="content"
                                    th:field="*{content}"
                            >
                        </textarea>
                    </div>
                        <button type="submit" class="btn btn-primary"> Submit </button>
                </div>
            </div>
                </form>
        </div>

    </div>
</div>
</body>
<br /> <br /> <br /> <br />
<div th:replace="admin/footer :: footer"></div>
</html>